*{
    margin: 0%;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.flex

{
    display: flex;
    align-items: center;
}
body
{
    background-color: #1E1E1E;
}
.container
{
    width: 100%;
    background-color: #1E1E1E;
    overflow-x:hidden ;
    color: white;
}
.container header
{
    width: 100%;
    height: 9vh;
    padding: 10px 60px;
    justify-content: space-between;
}
header .logo
{
    font-size: 45px;
    font-weight: 600;
    width: 30%;
    margin-left: 100px;
}
.logo span
{
    color: #FFDE59;
    
    font-size: 70px;
}
header nav 
{
    width: 70%;
    display: flex;
}

nav #search
{
    width: 17%;
    position: relative;
}
#search i
{
    position: relative;
    color: #FFDE59;
    top: 8px;
    font-weight: bolder;
    font-size: 19px;
    left: 8px;
}

nav input
{
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px 15px;
    padding-left: 33px;
    border: 2px solid #FFDE59;
    font-size: 16px;
    height: 13px;
    width: 100%;
}
header nav ul
{
    justify-content: center;
    width: 70%;
}
nav ul li 
{
    list-style: none;
}
nav ul li a 
{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    font-weight: 500;
    color: white;
}
nav ul li a:hover
{
    color: #FFDE59;
}

